<!DOCTYPE html>
<html lang="en">

	<head>
		<!-- Meta -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<meta name="description" content="Crptiam - Cryptocurrency ICO Landing Page HTML Template">
		<meta name="keywords" content="bitcoin, bitcoin landing, blockchain, cryptocurrency, Cryptocurrency advisor, ICO Agency, ICO Consulting, ico landing, ico template, ico token, ico website">		 	
		<!-- SITE TITLE -->
		<title>NAZ CRYPTO COIN</title>	
        <link rel="shortcut icon"
        href="static/assets/img/favicon.png">		
		<!-- Latest Bootstrap min CSS -->
		<link rel="stylesheet" href="static/assets/bootstrap/css/bootstrap.min.css">		
		<!-- Google Font -->
		<link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700&display=swap&subset=latin-ext" rel="stylesheet">  		
		<!-- Font Awesome CSS -->
		<link rel="stylesheet" href="static/assets/fonts/font-awesome.min.css">
		<link rel="stylesheet" href="static/assets/fonts/themify-icons.css">
		<link rel="stylesheet" href="static/assets/css/materialdesignicons-min.css">	
		<!--- owl carousel Css-->
		<link rel="stylesheet" href="static/assets/owlcarousel/css/owl.carousel.css">
		<link rel="stylesheet" href="static/assets/owlcarousel/css/owl.theme.css">	
		<!-- animate CSS -->
		<link rel="stylesheet" href="static/assets/css/animate.css">					
		<!-- MAGNIFIC CSS -->
		<link rel="stylesheet" href="static/assets/css/magnific-popup.css">					
		<!-- Style CSS -->						
		<link rel="stylesheet" href="static/assets/css/style-two.css">			
		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.3/ScrollTrigger.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.3/gsap.min.js"></script>
	
			<style>
				.
			</style>
	</head>


	
    <body data-spy="scroll" data-offset="80">
	
		<!-- particles -->
        <div id="particles-js"></div>	

		<!-- START PRELOADER -->
		<div class="preloader">
			<div class="spinner">
				<div class="double-bounce1"></div>
				<div class="double-bounce2"></div>
			</div>
		</div>
		<!-- END PRELOADER -->		

        <!-- START NAVBAR -->
        <nav id="navbar" class="navbar navbar-expand-lg fixed-top navbar-custom navbar-light sticky">
    		<div class="container">
			    <a class="navbar-brand" href="/index"><img src="static/assets/img/logo.png" alt=""></a>
			    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="mdi mdi-menu"></span>
			    </button><!--end button-->
			    <div class="collapse navbar-collapse" id="navbarCollapse">
			        <ul id="navbar-navlist" class="navbar-nav ms-auto">
			            <li class="nav-item"><a class="nav-link active" href="/index">Home</a></li>
			            <li class="nav-item"><a class="nav-link" href="#about">About</a></li>	
			            <li class="nav-item"><a class="nav-link" href="#team">Team</a></li>
			            <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
			            <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
			        </ul><!--END NAVBAR NAV-->
			    </div><!--END COLLAPSE-->
		    </div><!-- END CONTAINER -->
		</nav>
		<!-- END NAVBAR -->
 	
		<!-- START HOME -->
		<section id="home" class="home_bg">
			<div class="container">
				<div class="row">
				  <div class="col-lg-7 col-sm-12 col-xs-12">
					<div class="hero-text">
						 <h2><span class="rotatettext">Magic</span> internet money - You can't go wrong with the classics.</h2>
						 <p>It is also an opensource peer-to-peer cryptocurrency that utilises blockchain technology, a highly secure decentralised system of storing information as a public ledger that is maintained by a network of computers called nodes. </p>
						<div class="home_btn">
							<a href="/dashboard" class="btn_one">Dashboard</a>
							<a href="#about" class="btn_two">Learn More</a>
						</div>
					</div> 
				  </div><!--- END COL -->
				  <div class="col-lg-5 col-sm-12 col-xs-12 text-center">
					<div class="buy-icons">
						<div class="ca-starts-in">
							<h3>NZCO Launched on 25th November 2023</h3>
							<a href="/buy" class="btn_one">Buy Coin</a>
						</div>
						<div class="payment_img">
							<a href="#"><img src="static/assets/img/icon/visa.png" alt="logo-image" /></a>
							<a href="#"><img src="static/assets/img/icon/mastercard.png" alt="logo-image" /></a>
							<a href="#"><img src="static/assets/img/icon/bitcoin.png" alt="logo-image" /></a>
							<a href="#"><img src="static/assets/img/icon/ethereum.png" alt="logo-image" /></a>
						</div>						
					</div>
				  </div><!--- END COL -->			  
				</div><!--- END ROW -->
			</div><!--- END CONTAINER -->
		</section>
		<!-- END  HOME -->
		
		<!-- START ABOUT -->
		<section class="about_us section-padding">
		   <div class="container">			
				<div class="section-title text-center">
					<h1>The most trusted cryptocurrency</h1>
					<p>It is also an opensource peer-to-peer cryptocurrency that utilises blockchain technology, a highly secure decentralised system of storing information as a public ledger that is maintained by a network of computers called nodes. </p>
				</div>				
				<div class="row">					
					<div class="col-lg-4 col-sm-12 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0">
						<div class="single_about">
							<img src="static/assets/img/icon/secure.png" alt="image" />
							<h3>Secure storage</h3>
							<p>A wallet is necessary for people wanting to use, trade, or hold Dogecoin. You can pick a wallet</p>
						</div>
					</div><!-- END COL -->			
					<div class="col-lg-4 col-sm-12 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="0">
						<div class="single_about">
							<img src="static/assets/img/icon/insurance.png" alt="image" />
							<h3>Protected by insurance</h3>
							<p>After downloading, you can configure your wallet.</p>
						</div>
					</div><!-- END COL -->			
					<div class="col-lg-4 col-sm-12 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s" data-wow-offset="0">
						<div class="single_about">
							<img src="static/assets/img/icon/industry.png" alt="image" />
							<h3>Industry best practices</h3>
							<p>There’s lots of ways to get your hands on some Naz Coin</p>
						</div>
					</div><!-- END COL -->							
				</div><!-- END ROW -->
			</div><!-- END CONTAINER -->
		</section>
		<!-- END ABOUT -->		

		<!-- START BUY SELL -->
		<section id="buy_sell" class="buy_sell_area section-padding">
			<div class="container">					
				<div class="section-title text-center">
					<h1>How to Buy and Send Naz Crypto Coin</h1>
					<!-- <p>It is a early stage fact that a reader will be distracted by the readable content of a page when looking at its layout.</p> -->
				</div>					
				<div class="row">
				  <div class="col-lg-4 col-sm-12 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="0">
					<div class="buy_sell_list">
						<img src="static/assets/img/icon/wallet.png" alt="image" />
						<h4>Online Wallets</h4>
						<!-- <p>There are many variations of passages of Lorem Ipsum the majority.</p> -->
					</div>
					<div class="buy_sell_list">
						<img src="static/assets/img/icon/bank.png" alt="image" />
						<h4>Bank Transfers (Coming soon)</h4>
						<!-- <p>There are many variations of passages of Lorem Ipsum the majority.</p> -->
					</div>
				  </div><!--- END COL -->	
				  <div class="col-lg-4 col-sm-12 col-xs-12 wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="0">
					<div class="portfolio_list_img">
						<img src="static/assets/img/about-one.png" class="img-fluid" alt="" />
					</div>
				  </div><!--- END COL -->	
				  <div class="col-lg-4 col-sm-12 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="0">
					<div class="buy_sell_list">
						<img src="static/assets/img/icon/cash.png" alt="image" />
						<h4>Cash Payment (Coming soon)</h4>
						<!-- <p>There are many variations of passages of Lorem Ipsum the majority.</p> -->
					</div>
					<div class="buy_sell_list">
						<img src="static/assets/img/icon/debit.png" alt="image" />
						<h4>Debit/Credit Cards (Coming soon)</h4>
						<!-- <p>There are many variations of passages of Lorem Ipsum the majority.</p> -->
					</div>
				  </div><!--- END COL -->				  
				</div><!--- END ROW -->
			</div><!--- END CONTAINER -->
		</section>
		<!-- END BUY SELL -->

		<!-- START HOW TO BUY -->
		<section class="how_to_buy_area section-padding">
		   <div class="container">			
				<div class="section-title text-center">
					<h1>Get Started in a Few Minutes</h1>
					<!-- <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p> -->
				</div>				
				<div class="row text-center">					
					<div class="col-lg-4 col-sm-12 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="0">
						<div class="single_how_to_buy">
							<img src="static/assets/img/icon/man.png" alt="image" />
							<h4>Create Account</h4>
							<!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p> -->
						</div>
					</div><!-- END COL -->			
					<div class="col-lg-4 col-sm-12 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s" data-wow-offset="0">
						<div class="single_how_to_buy">
							<img src="static/assets/img/icon/bank2.png" alt="image" />
							<h4>Open Dashboard</h4>
							<!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p> -->
						</div>
					</div><!-- END COL -->			
					<div class="col-lg-4 col-sm-12 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s" data-wow-offset="0">
						<div class="single_how_to_buy">
							<img src="static/assets/img/icon/buy.png" alt="image" />
							<h4>Start Buying & Sending</h4>
							<!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p> -->
						</div>
					</div><!-- END COL -->							
				</div><!-- END ROW -->
			</div><!-- END CONTAINER -->
		</section>
		<!-- END HOW TO BUY  -->			
		 
		<!-- START ABOUT US CONTENT -->
		<section id="about" class="about_area section-padding">
			<div class="container">			
				<div class="row">
				  <div class="col-lg-6 col-sm-12 col-xs-12 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="0">
					<div class="about-img">
						<img src="static/assets/img/about-two.png" class="img-fluid" alt="about-image" />
					</div>
				  </div><!--- END COL -->				  
				  <div class="col-lg-6 col-sm-12 col-xs-12 wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="0">
					<div class="about-text">
						 <h2>About Us</h2>
						 <p class="about-bold">This Project is created by student Ritik Ranjan, Tassawar Hasib, Pravansu Shaoo, Pintu Kr. Yadav students of KIST, Bhubaneswar,Odisha.</p>
						 <p>A cryptocurrency is a digital currency, which is an alternative form of payment created using encryption algorithms. The use of encryption technologies means that cryptocurrencies function both as a currency and as a virtual accounting system. To use cryptocurrencies, you need a cryptocurrency wallet.</p>
					</div>
					<div class="about_btn">
						<a href="https://www.youtube.com/watch?v=CMPebxJjE8o" class="video-play btn_one">Watch Video</a>
					</div>
				  </div><!--- END COL -->				  
				</div><!--- END ROW -->
			</div><!--- END CONTAINER -->
		</section>
		<!-- END ABOUT US CONTENT -->	
		
		<!-- START TOKEN SALE -->
		<section id="token_sale" class="token_sale_area section-padding">
		   <div class="container">			
				<div class="section-title text-center">
					<h1>Pre sale & Values</h1>
					<!-- <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p> -->
				</div>				
				<div class="row text-center">					
					<div class="col-lg-3 col-sm-4 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="0">
						<div class="single_token single_token_bg_one">
							<h4>Start Time</h4>
							<p>November 25,2023 (10:00 GMT)</p>
						</div>
					</div><!-- END COL -->
					<div class="col-lg-3 col-sm-4 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s" data-wow-offset="0">
						<div class="single_token single_token_bg_two">
							<h4>Coin for sale</h4>
							<p>900,000 NZ (9%)</p>
						</div>
					</div><!-- END COL -->
					<!-- <div class="col-lg-3 col-sm-4 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s" data-wow-offset="0">
						<div class="single_token single_token_bg_three">
							<h4>Acceptable Currency</h4>
							<p>BTC, ETH, LTC</p>
						</div>
					</div> -->
					<div class="col-lg-3 col-sm-4 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s" data-wow-offset="0">
						<div class="single_token single_token_bg_four">
							<h4>End Time</h4>
							<p>Oct 30,2024 (10:00 GMT)</p>
						</div>
					</div><!-- END COL -->
					<div class="col-lg-3 col-sm-4 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s" data-wow-offset="0">
						<div class="single_token single_token_bg_five">
							<h4>Soft Cops</h4>
							<p>$90 M</p>
						</div>
					</div><!-- END COL -->
					<div class="col-lg-3 col-sm-4 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s" data-wow-offset="0">
						<div class="single_token single_token_bg_six">
							<h4>Exchange rate</h4>
							<p>1 BTC = 50000 NZ </p>
						</div>
					</div><!-- END COL -->
					<div class="col-lg-3 col-sm-4 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.7s" data-wow-offset="0">
						<div class="single_token single_token_bg_seven">
							<h4>Available Coin</h4>
							<p>$100 M</p>
						</div>
					</div><!-- END COL -->
					<div class="col-lg-3 col-sm-4 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.7s" data-wow-offset="0">
						<div class="single_token single_token_bg_eight">
							<h4>Minimal Transction</h4>
							<p>50 NZ</p>
						</div>
					</div><!-- END COL -->									
				</div><!-- END ROW -->
			</div><!-- END CONTAINER -->
		</section>
		<!-- END TOKEN SALE  -->	

		<!-- START TEAM -->
		<section id="team" class="team_member section-padding">
			<div class="container">				
				<div class="section-title text-center">
					<h1>Meet our Professionals</h1>
					<!-- <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p> -->
				</div>				
				<div class="row text-center">
					<div class="col-lg-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="0">
						<div class="our-team">
							<img src="https://avatars.githubusercontent.com/u/75849689?v=4" class="img-fluid" alt="board-image">
							<h3>Ritik Ranjan</h3>
							<span>Full Stack Developer</span>
						</div>
					</div><!--- END COL -->														
					<div class="col-lg-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s" data-wow-offset="0">
						<div class="our-team">
							<img src="https://avatars.githubusercontent.com/u/77575489?v=4" class="img-fluid" alt="board-image">
							<h3>Tassawar Hasib</h3>
							<span>Frontend Developer</span>
						</div>
					</div><!--- END COL -->	
					<div class="col-lg-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s" data-wow-offset="0">
						<div class="our-team">
							<img src="https://avatars.githubusercontent.com/u/120974713?v=4" class="img-fluid" alt="board-image">
							<h3>Pintu Kr. Yadav</h3>
							<span>Frontend Developer (Junior)</span>
						</div>
					</div><!--- END COL -->
					<div class="col-lg-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s" data-wow-offset="0">
						<div class="our-team">
							<img src="https://media.licdn.com/dms/image/C5603AQFGBjnekvFtNg/profile-displayphoto-shrink_400_400/0/1641911751739?e=1706140800&v=beta&t=jDStyimwyrN448Gqgmly-0cvyOfZBLW3Lhsh6CIqDLg" class="img-fluid" alt="board-image">
							<h3>Pravansu Sahoo</h3>
							<span>Web Developer (Junior)</span>
						</div>
					</div><!--- END COL -->		
							
				</div><!--- END ROW -->
			</div><!--- END CONTAINER -->		
		</section>
		<!-- END TEAM -->
			
		
		<!-- START PARTNER -->
		<div class="partner_area section-padding" >
			<div class="container">				
				<div class="section-title text-center">
					<h1>Partners & Supporters</h1>
					<!-- <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p> -->
				</div>
				<div class="row text-center " id="partnerSec">
					<div class="col-lg-3 col-sm-4 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0">
						<div class="partner-logo">
							<img src="https://profitswipe.in/uploads/0000/1/2023/05/19/c1.png" alt="partner-image" />
						</div>
					</div><!-- END COL -->
					<div class="col-lg-3 col-sm-4 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="0">
						<div class="partner-logo">
							<img src="../static/assets/img/partner/001.png" alt="partner-image" />
						</div>
					</div><!-- END COL -->
				</div><!-- END ROW -->				
			</div><!--- END CONTAINER -->
		</div>
		<!-- END PARTNER -->

		<!-- START FAQ -->
		<section id="faq" class="faq1-area section-padding">
			<div class="container">
				<div class="section-title text-center">
					<h1>Frequently Asked Questions</h1>
					<!-- <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p> -->
				</div>
				<div class="row justify-content-center">
					<div class="col-lg-7 col-sm-12 col-xs-12 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="0">
						<div class="accordion" id="accordionExample">
						  <div class="accordion-item">
							<h2 class="accordion-header" id="headingOne">
							  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
								What is cryptocurrency?
							  </button>
							</h2>
							<div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
							  <div class="accordion-body">
								Cryptocurrency is a type of digital or virtual currency that uses cryptography for security and operates on decentralized networks based on blockchain technology. A blockchain is a distributed ledger that records all transactions across a network of computers. Unlike traditional currencies issued by governments and central banks, cryptocurrencies are typically not controlled by any single entity.
							  </div>
							</div>
						  </div>
						  <div class="accordion-item">
							<h2 class="accordion-header" id="headingTwo">
							  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
								What are the best cryptocurrency for buy?
							  </button>
							</h2>
							<div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
							  <div class="accordion-body">
								There are many Crypto Coin such as Naz Coin, Bitcoin, ethereum, DodgeCoin etc.
							  </div>
							</div>
						  </div>
						  <div class="accordion-item">
							<h2 class="accordion-header" id="headingThree">
							  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
								How to buy cryptocurrency?
							  </button>
							</h2>
							<div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
							  <div class="accordion-body">
								Simply, Login to the dashboard and buy the coin.
							  </div>
							</div>
						  </div>
						  <div class="accordion-item">
							<h2 class="accordion-header" id="headingFour">
							  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
								How to send cryptocurrency?
							  </button>
							</h2>
							<div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
							  <div class="accordion-body">
								Login to the dashboard and go to send route and enter the sender username and amount to sell.
							  </div>
							</div>
						  </div>
						</div>						
					</div><!-- END COL  -->
					<div class="col-lg-5 col-sm-12 col-xs-12 wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.3s" data-wow-offset="0">
						<div class="faq-img">
							<img src="static/assets/img/faq.png" class="img-fluid" alt="faq image" />
						</div>
					</div><!-- END COL  -->
				</div><!--END  ROW  -->
			</div><!-- END CONTAINER  -->
		</section>
		<!-- END FAQ -->		
		
		<!-- START BLOG -->
		
		<!-- START CONTACT -->
		<section id="contact" class="contact_us section-padding">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-sm-12 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="0">
						<div class="contact">
							<h4>Contact Us </h4>
							
							<div class="address_bg">
								<div class="single_address">
									<div class="address_br"><span class="ti-location-pin"></span></div>
									<h4>Address</h4>
									<p>Bhubaneswar, Odisha, INDIA</p>
								</div>							
								<div class="single_address">
									<div class="address_br"><span class="ti-mobile"></span></div>
									<h4>Phone</h4>
									<p>+91 9470099622</p>
								</div>	
								<div class="single_address">
									<div class="address_br"><span class="ti-email"></span></div>
									<h4>Email</h4>
									<p>support@nazrasoftware.com</p>
								</div>
								<div class="single_address">
									<div class="address_br"><span class="ti-alarm-clock"></span></div>
									<h4>Working Hours</h4>
									<p>Mon to Sat 9:00am to 5:00pm</p>
								</div>
								</div>
						</div>
					</div><!-- END COL  -->	
										
				</div><!-- END ROW -->
			</div><!-- END CONTAINER -->
		</section>
		<!-- END CONTACT -->		

		<div class="map">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7487.118253391705!2d85.78790189008132!3d20.23563339155827!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a19a7b3772d890f%3A0xa7dd09aeb9776d63!2sJadupur%2C%20Dumduma%2C%20Bhubaneswar%2C%20Odisha%20751019!5e0!3m2!1sen!2sin!4v1700890522230!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" tabindex="0"></iframe>
		</div>	
		
		<!-- START FOOTER -->
		<div class="footer">
			<div class="container">		
				<div class="row text-center">						
					<div class="col-lg-12 col-sm-12 col-xs-12">
						<div class="footer_menu">
							<ul>
								<li><a href="/index">Home</a></li>
								<li><a href="#contact">Contact</a></li>
							</ul>
						</div>						
						<div class="footer_copyright">
							<p>&copy; 2023 Naz Coin. All Rights Reserved.</p>
						</div>	
						<div class="footer_profile">
							<ul>
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-instagram"></i></a></li>
								<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
							</ul>
						</div>						
					</div><!--- END COL -->							
				</div><!--- END ROW -->					
			</div><!--- END CONTAINER -->
		</div>
		<!-- END FOOTER -->		

		<!-- Latest jQuery -->
			<script src="static/assets/js/jquery-1.12.4.min.js"></script>
		<!-- Latest compiled and minified Bootstrap -->
			<script src="static/assets/bootstrap/js/bootstrap.min.js"></script>
		<!-- modernizer JS -->		
			<script src="static/assets/js/modernizr-2.8.3.min.js"></script>																		
		<!-- owl-carousel min js  -->
			<script src="static/assets/owlcarousel/js/owl.carousel.min.js"></script>				
		<!-- magnific-popup js -->               
			<script src="static/assets/js/jquery.magnific-popup.min.js"></script>			
		<!-- jquery counterup -->
			<script src="static/assets/js/jquery.counterup.min.js"></script>	
			<script src="static/assets/js/countdown.js"></script>		
		<!-- particles -->
			<script src="static/assets/js/particles.min.js"></script>
			<script src="static/assets/js/app.js"></script>			
		<!-- WOW - Reveal Animations When You Scroll -->
			<script src="static/assets/js/wow.min.js"></script>			
		<!-- scrolltopcontrol js -->																				
			<script src="static/assets/js/scrolltopcontrol.js"></script>																				
		<!-- scripts js -->
			<script src="static/assets/js/scripts.js"></script>		
			<script>
				// This tween will rotate an element with a class of .my-element
				gsap.to('.rotatetext', {
				 rotation: 360,
				 duration: 2,
				 ease: 'bounce.out'
				})
			   </script>
    </body>
</html>